
body {
  width:100%;
   /* max-width:500px; */
  height:100%;
  /* max-height:800px; */
  background-color: #101010;
  font-family: Arial, Helvetica, Sans-Serif;
  Color: #AAAAAA;
  }

.content {
  max-width: 500px;
  margin: auto;
 /* border: 1px solid green; */
}

form {
  text-align: center;
}

/*ECRAN*/
.ecran input {
display:block;
margin: auto;
width: 300px;
height: 50px;
background-color: #000000;
color: white;
font-size: 25px;
/* border: 1px solid blue; */
}

h1 {
    margin: auto;
    margin-bottom: 20px;
    color:#454545;
    text-align:center;
  }



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noscroll {
  overflow: hidden;
  position: fixed;
}

  ul#controls {
    display:inline-block;
    width: auto%;
    padding-left:0px;
  }

  ul {
    text-align:center;
    padding: 0;
  }

  ul#mode li {
    display:inline-block;
    width:10%;
  }

  ul#mode li#enter  {
    display:inline-block;
    width:21%;
  }


  ul li a {
    display:block;
    margin:3px;
    padding:10px 5px;
    border:2px solid #454545;
    border-radius:5px;
    color:#454545;
    font-weight:bold;
    text-decoration:none;
  }

  ul li a.active {
    border:2px solid #BBBBBB;
    color:#FFFFFF;
  }
